@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@tailwind base;
@tailwind components;

body {
    font-family: 'Marcellus', serif;
}

h1 {
    @apply text-3xl sm:text-4xl xl:text-5xl
}

h2 {
    @apply text-2xl sm:text-3xl xl:text-4xl
}

h3 {
    @apply text-xl sm:text-2xl xl:text-3xl
}

.center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.fade {
    animation: fade 7s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@tailwind utilities;