body {
    background-color: #484848;
    color: #fff;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

button {
    padding: 0px 14px;
    font-size: 20px;
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}