@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;

body {
    font-family: "Lato", sans-serif;
}

h1 {
    @apply text-2xl sm:text-3xl xl:text-4xl font-bold
}

h2 {
    @apply text-xl sm:text-2xl xl:text-3xl font-bold
}

h3 {
    @apply text-lg sm:text-xl xl:text-2xl font-bold
}

.center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.fade {
    animation: fade 7s ease-in-out forwards;
}

.fadeIn {
    animation: fadeIn 8s ease-in-out forwards;
}

.fadeCurCnvrtr {
    animation: fadeCurCnvrtr 8s ease-in-out forwards;
}

.h-tms {
    height: calc(100vh - 112px);
}

@media (min-width:640px) {
    .h-tms {
        height: calc(100vh - 116px);
    }
}

@media (min-width:768px) {
    .h-tms {
        height: calc(100vh - 144px);
    }
}
@media (min-width:1440px) {
    .h-tms {
        height: calc(100vh - 148px);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        display: none;
    }

    85% {
        display: none;
    }

    100% {
        display: block;
    }
}

@keyframes fadeCurCnvrtr {
    0% {
        display: none;
    }

    85% {
        display: none;
    }

    100% {
        display: flex;
    }
}

@tailwind utilities;